body{
    background-image: url("./img/869.webp");
    background-attachment: fixed;
}

html {
    font : 1.25vw Arial;
    color: #1C2833;

    box-sizing: border-box;
    padding: 20px;

}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.colmn {
    display: flex;
    flex-direction: column;
}

.erenInfo {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 25px;
    width: 400px;
}
.erenInfo img {
    width: 20vW;
    border-radius: 10px;
}
.erenMain{
    width: 20vW;
    height: 15vW;
    transition: all 0.5s ease;
}


.row .info {
    width: 400px;
}

div .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    background-color: #EDBB99 ;
    border-radius: 20px;
    padding: 20px;
}

div .info a{
    display: flex;
    justify-content: center;
}

h1 {
    display: flex;
    justify-content: center;

    font : 45px Arial;
    text-transform: capitalize;
}

h3 {
    display: flex;
    justify-content: center;
    color: black;
    font-weight: lighter;
    text-decoration:underline;
}

.about {
    display: flex;
    justify-content: left;
    color: black;
    font-weight: lighter;
}

button{
    cursor: pointer;
    height: fit-content;
}
