
table, td, tr{
    table-layout: fixed;
    width: 100%;
    text-align: center;
    border: 1px solid;
    padding: 20px;
}

h1{
    box-shadow: 6px 6px 4px rgba(red, green, blue, 0.3), 0 0 5px #999;
    -webkit-box-shadow: 6px 6px 4px rgba(red, green, blue, 0.3), 0 0 5px #999 ;
    -moz-box-shadow: 6px 6px 4px rgba(red, green, blue, 0.3), 0 0 5px #999;

    border-radius: 10px;
    font: 40px calibri;
    padding: 10px;
    margin: 20px auto;
    text-align: center;
    color: pink;

}

h3{
    color: midnightblue;
}

div {
    text-align: left;
}